/* GLOBAL STYLES */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    
    background-image: url('bg.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ded7d7;
}

hr {
    border-top: 2px solid rgb(42, 49, 62);
    margin: auto;
}

html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    font-size: large;
}



/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #43155258;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #b6adad9d;
}

th {
    background-color: #451556ac;
    font-weight: bold;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color:  #09052a;
    cursor: pointer;
}

button {
    background-color: rgba(231, 231, 232, 0.28);
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

button:hover {
    background-color:rgba(0, 0, 0, 0.739);

}

button:active {
    background-color: rgb(12, 67, 187);
}

/* INPUT STYLES */
input, .dropDown {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    font-size: 16px;
    
    border-radius: 10px;
    background-color: #ffffff9c;
    color: black;
    font-weight: bold;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    gap: 2px;
}
form{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

input::placeholder {
    color: #363434f6;
    font-weight: normal;
}

/* OTHER STYLES */
.loading-gif {
    height: 1em;
    vertical-align: middle;
}

select{
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    margin-bottom: 30px;
}

.container {
    display: inline-block;
}
.form-container {
    /* margin-right: 100px; */
    flex: 1;
    margin-bottom: 25px;
}

.dropDown{
    background-color: #ffffff9c;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 8px;
    font-weight: bold;
    

    border: none;
}


.dropDownOption{
    
    display: none;
}
.dropDownOption.active{
    display: block;
}


.content-page{
    display: none;
}
.content-page.active{
    display: block;
    background-color: #0000009f;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
}

.mainPage{
    flex: 1;
    padding: 20px;
    margin-left: 250px;
}

.page{
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #0d0d19b1;
    color: white;
    padding: 20px 0;
    position: fixed;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    
}

.sidebarTitle {
    padding: 0px 10px 10px;
    border-bottom: 1px solid #2d2d42;

}

.sidebarTitle h2 {
    font-size: 24px;
    color: #ffffff;
    padding: 0;
    margin-bottom: 0;
    
}
.dbStatus{
    font-size: 12px;
    text-transform: uppercase;
    
}

.navMenu ul {
    list-style: none;
    padding: 20px 0;
}

.navMenu li {
    margin-bottom: 5px;
}

.navLink {
    display: block;
    padding: 15px 15px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    border-left: 4px solid transparent;
}

.navLink:hover, .navLink.active {
    background-color: #2d2d42af;
    color: #676097;
}


.pSelector{
    max-width: 700px;
    display: flex;
}

.search-criteria-combination{
    margin-top: 7px;
}
.remove-criteria-btn{
    margin-top: 4px;
    margin-bottom: 8px;
}